/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

/* base layout */
body {
    margin: 0;
    background-color: #111;
    font-family: "Old Standard TT", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

/* Header Styling */
header {
    background-color:#fff;
    color: #111;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-family: "Limelight", sans-serif;
    font-size: 26px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Background Image of Theatre */
.theatre {
    /* background-image: url("/images/theatre-edited-public-domain-vectorsunsplash.jpg"); */
    background-image: url("images/croppedsquaredpublic-domain-vectors-edited2-unsplash\ -\ Copy.jpg"); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    max-width: 1600px;
    min-height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-radius: 10px; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

/* Screen Area Overlay */
.screen {
    width: 40%;
    height: 55%;
    background-color: rgba(255, 255, 255, 0.85);
    color: #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 180px;
    text-align: center;
    overflow-y: auto;
    transition: opacity 0.5s ease;
    /* screen-glow */
    box-shadow: 0 0 40px rgba(255, 250, 200, 0.7),
    0 0 80px rgba(255, 255, 220, 0.5);
    background-image: radial-gradient(circle at center,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.8),
    rgba(240, 240, 240, 0.6));
}

/* fade in when content updates */
.fade-in {
    opacity: 0;
    animation: fadeIn 0.6s forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Action buttons add, sort */
.action-btn {
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

.movie-input {
    padding: 10px 20px;
}



/* Popcorn buttons (footer controls) */
.controls {
    position: absolute;
    bottom: 11%;
    /* transform: translateX(-50%); */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 20px;
    z-index: 10;
    
}

.controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.controls img {
    width: 70px;
    height: 70px;
    transition: transform 0.3 ease;
    border-radius: 8px;
}

.controls button:hover {
    color: #f8e390;
}

.controls button:hover img {
    transform: scale(1.1);
    filter: brightness(1.2);
}

/* copyright */
.copyright {
    width: 100%;
    background-color: #fff;
    color: #111;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Old Standard TT", sans-serif;
    padding: 35px 0;
    border-top: 2px solid #333;
}


/* Form and List inside screen */
input {
    margin: 5px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #888;
}

button.action {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #61dafb;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

button.action:hover {
    background-color: #21a1f1;
}



/* Responsiveness */
@media (max-width: 768px) {
    .theatre {
        width: 100%;
        margin-bottom: 60px;

    }
       
    .screen {
        width: 70%;
        padding: 1rem;
        margin-bottom: 300px;
        padding-top: 0;
        padding-bottom: 50px;
        max-height: 280px;
    }
    .header button {
        flex: 1 1 45%;
        font-size: 0.95rem;
    }  

    .controls {
        bottom: 15%;
        gap: 25px;
        padding: 8px;
    }

    .controls img {
        width: 50px;
        height: 50px;
    }


  }


